body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 60%;
  margin: 0 auto; 
}

.card:hover {
  transform: translateY(-5px);
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.reset-btn {
  margin-left: auto;
}

.btn:hover {
  background-color: #0056b3;
}

p {
  font-size: 1.2em;
  color: #333;
}

/* Button styling for Start and Stop buttons */
.start-btn {
  background-color: #28a745; /* Green color for Start */
}

.stop-btn {
  background-color: #dc3545; /* Red color for Stop */
}

.start-btn:hover {
  background-color: #218838;
}

.stop-btn:hover {
  background-color: #c82333;
}

/* Disabled button styles */
.start-btn:disabled, .stop-btn:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}
