<!-- src/app/register/register.component.html -->
<div class="register-container">
    <h2>MyTickets</h2>
    <h3>Register</h3>
    <p>Create your account and enjoy additional features and exclusive deals</p>
  
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" class="form-control" required [(ngModel)]="user.firstName" placeholder="Enter your first name">
      </div>
  
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" class="form-control" required [(ngModel)]="user.lastName" placeholder="Enter your last name">
      </div>
  
      <div class="form-group">
        <label for="contactNumber">Contact Number</label>
        <div class="input-group">
          <input type="tel" id="contactNumber" name="contactNumber" class="form-control" required [(ngModel)]="user.contactNumber" placeholder="Enter your contact number">
        </div>
      </div>
  
      <!-- <div class="form-group">
        <label for="nic">NIC/Passport</label>
        <select id="nicType" name="nicType" [(ngModel)]="user.nicType" required>
          <option value="NIC">NIC</option>
          <option value="Passport">Passport</option>
        </select>
        <input type="text" id="nic" name="nic" class="form-control" required [(ngModel)]="user.nic" placeholder="Enter your NIC/Passport">
      </div> -->
  
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" required [(ngModel)]="user.email" placeholder="Enter your email">
      </div>
  
      <!-- <div class="form-group">
        <label for="verificationMethod">Verification method</label>
        <select id="verificationMethod" name="verificationMethod" class="form-control" required [(ngModel)]="user.verificationMethod">
          <option value="Email">Email</option>
          <option value="SMS">SMS</option>
        </select>
      </div> -->
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" required [(ngModel)]="user.password" placeholder="Enter your password">
      </div>
  
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required [(ngModel)]="user.confirmPassword" placeholder="Confirm your password">
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Get Started</button>
    </form>
  </div>
  